<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 
	<display-name>MavenProject1 Maven Webapp</display-name>
	<servlet>
		<description>
		</description>
		<display-name>doLogin</display-name>
		<servlet-name>doLogin</servlet-name>
		<servlet-class>com.cjn.servlet.doLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>adminServlet</display-name>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>com.cjn.servlet.adminServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>
		</description>
		<display-name>admin</display-name>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.cjn.servlet.admin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>goodServlet</display-name>
		<servlet-name>goodServlet</servlet-name>
		<servlet-class>com.cjn.servlet.goodServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>typeServlet</display-name>
		<servlet-name>typeServlet</servlet-name>
		<servlet-class>com.cjn.servlet.typeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>doLogin</servlet-name>
		<url-pattern>/doLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/adminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goodServlet</servlet-name>
		<url-pattern>/goodServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>typeServlet</servlet-name>
		<url-pattern>/typeServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
